<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'admin/genres/genre_sidebar', genres: @genres  %>
    </div>


    <div class="col-md-9">
      <div class="top-box">
        <p class="top-text">
          ようこそ、ながのCakeへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。<br>
        </p>
      </div>

      <div class="recommend-title">
        <h3>新着商品</h3>
      </div>
      <div class="row">
        <% @random.each do |item| %>
          <div class="col-md-3">
            <%= item.name  %>
            <div class="img_field">
            <%= link_to item_path(item) do %>
            <%= image_tag item.image, size:"180x130" %>
            <% end %>
            </div>
            <p><%= item.name %></p>
            <p>¥<%= (item.price*1.1).floor.to_s(:delimited)%>(税込)</p>
          </div>
        <% end %>
      </div>

      <div class="recommend-more"><%= link_to "全ての商品を見る>", items_path %></div>
    </div>
  </div>
</div>